// Give code blocks more contrast and use monospace fonts,
code, pre, .d-editor-input {
    font-family: $monospace-font;
    font-size: 92%;
}
code {
    padding: 2px 2px 0;
    color: var(--code-inline-fg) !important;
    background-color: var(--code-inline-bg) !important;
}
.copy-codeblocks code {
    padding: 9px;
    margin-bottom: 2px;
    border-left: 4px solid var(--code-border);
    background-color: var(--code-bg) !important;
}
blockquote .copy-codeblocks code {
    border-left: 4px solid var(--code-border);
    background-color: var(--code-inline-bg) !important;
}
