@import "variables";
@import "lib/tags";

// //////////////////////////////////////
body, #banner { background-color: var(--header-bg); }
#main         { background-color: var(--secondary); }
header        { border-bottom: 1px solid var(--secondary); }

// More feedback on mouseover
a:hover { opacity: 0.85 !important; }

// So folks can left/right align elements (mainly images) with
// [wrap=$side]...[/wrap] tags
.d-wrap[data-wrap="left"]  { float: left  !important; }
.d-wrap[data-wrap="right"] { float: right !important; }
.d-wrap[data-wrap="clear"] { clear: both !important; }

// //////////////////////////////////////
@import "components/banner";
@import "components/blockquotes";
@import "components/cards-social-links";
@import "components/categories";
@import "components/code";
@import "components/compact-posters";
@import "components/footer";
@import "components/header";
@import "components/headings";
@import "components/kbd";
@import "components/sidebar";
@import "components/tabbed";
@import "components/topic";
@import "components/topic-list";

@import "components/fake-checkboxes";
@import "components/numbered-headings";
@import "components/remove-solved";

@import "components/tags/hide-redundant";
@import "components/tags/styles";


// //////////////////////////////////////
@import "fixes";
html.dark  { @import "dark"; }
html.light { @import "light"; }
